# Ignore node_modules
node_modules

# Ignore build output (optional if you're rebuilding in Docker)
dist

# Ignore log files
*.log

# Ignore environment files (optional if you don't want them copied)
.env.local
.env.development
.env.production
.env.*

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files (optional if not needed inside the image)
Dockerfile
.dockerignore

# Ignore IDE or editor files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Ignore miscellaneous files
.DS_Store
Thumbs.db